@model MatchdayMadness2.Models.LiveMatchUpdates

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>LiveMatchUpdates</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="HomeTeam" class="control-label"></label>
                <input asp-for="HomeTeam" class="form-control" />
                <span asp-validation-for="HomeTeam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AwayTeam" class="control-label"></label>
                <input asp-for="AwayTeam" class="form-control" />
                <span asp-validation-for="AwayTeam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrenScoreHome" class="control-label"></label>
                <input asp-for="CurrenScoreHome" class="form-control" />
                <span asp-validation-for="CurrenScoreHome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrenScoreAway" class="control-label"></label>
                <input asp-for="CurrenScoreAway" class="form-control" />
                <span asp-validation-for="CurrenScoreAway" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentTime" class="control-label"></label>
                <input asp-for="CurrentTime" class="form-control" />
                <span asp-validation-for="CurrentTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
